.mid {
    text-align: center;
    margin: auto;
}

.header {
    font-family: 'Bangers', cursive;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-shadow:#000 1px -2px, #000 -1px 2px, #000 1px 2px, #000 -1px -2px;
}

.tabuleiro {
    margin-top: 30px;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 40px;
    text-shadow:rgb(92, 22, 22) 2px -2px, rgb(13, 61, 27) -2px 2px, rgb(26, 18, 71) 2px 2px, rgb(91, 104, 19) -2px -2px;
}

.lista {
    margin-top: 20px;
	display: flex;
    justify-content: center;
}

.imagens_tab {
    position: relative;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.turn {   
    color: black;
    font-size: 25px;
    text-shadow:rgb(252, 2, 2) 1px -1px, rgb(6, 187, 60) -1px 1px, rgb(43, 7, 248) 1px 1px, rgb(221, 236, 7) -1px -1px; 
}

.div_reload {
    font-family: 'Bangers', cursive;
    font-size: 15px;
    color: white;
    text-shadow:#000 1px -2px, #000 -1px 2px, #000 1px 2px, #000 -1px -2px;
}

.reload {
    float: right;
    margin-right: 410px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    text-shadow:#FFF 1px -2px, #FFF -1px 2px, #FFF 1px 2px, #FFF -1px -2px;
}

.copyright {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Bangers', cursive;
    text-shadow:#000 1px -2px, #000 -1px 2px, #000 1px 2px, #000 -1px -2px;
}

.home-container {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,.5);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;    
}

.home-container.mostrar {
    display: flex;
}

.mostrar .home {
    animation: home_ani .8s;
}

.home {
    background: white;
    display: flex;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #554e4e;
    box-shadow: 0 0 0 5px black;
    border-radius: 10px;
}

.texto-home {
    color: #000000;
    margin: auto;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.input-nome {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    width:300px;
    font-size: 25px;
    height: 30px;
}

.entrar {
    text-align: center;
}

.local {
    text-align: center;
}

.multiplayer {
    text-align: center;
}

.comecar {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    width:120px;
    height: 40px;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    color: #FFF;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: -1;
    margin: auto;
    background: url("images/main.png");
    border: 1px;
    border-radius: 10px;
}

@keyframes home_ani {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}