.mid {
    text-align: center;
    margin: auto;
}

.header {
    margin: 10px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 20px;
    text-shadow:#000 1px -2px, #000 -1px 2px, #000 1px 2px, #000 -1px -2px;
}

.message {
    margin-left: 20%;
    margin-bottom: 1%;
    float: left;
}

.turn {
    margin-right: 30%;
    margin-bottom: 1%;
    float: right;
}

.copyright {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Bangers', cursive;
    text-shadow:#000 1px -2px, #000 -1px 2px, #000 1px 2px, #000 -1px -2px;
}

.home-container {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,.5);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    justify-content: center;
    align-items: center;    
}

.home-container.mostrar {
    display: flex;
}

.mostrar .home {
    animation: home_ani .8s;
}

.home {
    background: white;
    display: flex;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #252222;
    box-shadow: 0 0 0 5px white;
}

.texto-home {
    color: #000000;
    margin: auto;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.input-nome {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    width:300px;
    font-size: 25px;
    height: 30px;
}

.entrar {
    text-align: center;
}

.local {
    text-align: center;
}

.multiplayer {
    text-align: center;
}

.comecar {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    width:120px;
    height: 40px;
}

body {
    background: url("../game-trilha-js-html-css/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    color: #FFF;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: -1;
    margin: auto;
    background: url("images/main.png");
    border: 1px solid #d3d3d3;
}


@keyframes home_ani {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}